<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="2.4">
 
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.mysingers.user.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.mysingers.user.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateEvent</servlet-name>
    <servlet-class>com.mysingers.user.CreateEvent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateEventCoOrdinator</servlet-name>
    <servlet-class>com.mysingers.user.CreateEventCoOrdinator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignEventCoOrdinator</servlet-name>
  	<servlet-class>com.mysingers.user.AssignEventCoOrdinator</servlet-class>	
  </servlet>
  <servlet>
  	<servlet-name>UploadSong</servlet-name>
  	<servlet-class>com.mysingers.user.UploadSong</servlet-class>	
  </servlet>
    <servlet>
  	<servlet-name>Like</servlet-name>
  	<servlet-class>com.mysingers.user.Like</servlet-class>	
  </servlet>

  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateEvent</servlet-name>
    <url-pattern>/CreateEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateEventCoOrdinator</servlet-name>
    <url-pattern>/CreateEventCoOrdinator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssignEventCoOrdinator</servlet-name>
    <url-pattern>/AssignEventCoOrdinator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadSong</servlet-name>
    <url-pattern>/UploadSong</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Like</servlet-name>
    <url-pattern>/Like</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>